
<h1> new </h1>
<%= params.inspect %>

<%# <% if  params[:format] =! true %> 
  <h1>Nuevo reporte para <%= Alquiler.find(params[:alquiler]).car.marca + ' ' +  Alquiler.find(params[:alquiler]).car.modelo %>  </h1>
<%# <% end %> 


<%= render "form", sistema_reporte: @sistema_reporte, alquiler_id: params[:format] %>

<br>

<div>
  <%= link_to "Back to sistema reportes", sistema_reportes_path %>
</div>
