<p style="color: green"><%= notice %></p>

<%= render @sistema_reporte %>

<div>
  <%= link_to "Volver al Sistema de Reportes", alquilers_path(@sistema_reporte.alquiler_id),class:"btn btn-outline-primary" %>

</div>
