<%= stylesheet_link_tag "home.css" %>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Conoce una nueva forma de moverte</h1>
                    <p class="lead text-white-50 mb-4">Con Alquilapp encontra el auto que queres, donde y cuando lo
                        necesitas</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-warning btn-lg px-4 me-sm-3" href="users/sign_up">Registrate para
                            comenzar</a>
                        <a class="btn btn-outline-light btn-lg px-4 me-sm-3" href="#features">Acerca de nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> 

<!-- Mapa -->
<div class="mapSection" id="features">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Viajar en La Plata nunca fue tan facil</h2>
            <p class="lead mb-0">Registrate y comenza a alquilar</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">Mas de 15 autos dispersados estrategicamente 
                                en toda la ciudad disponibles para que puedas encontrar uno lo mas cerca posible</p>
                                <div class="small text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">Sistema de reportes para que puedas tener el auto en las mejores condiciones
                                siempre!</p>
                                <div class="small text-muted">- Para mas informacion ingresa a nuestro tutorial de reportes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#features"></a></li>
                    <li class="list-inline-item">⋅</li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Alquilapp 2022. Todos los derecho reservados.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 