<div id="<%= dom_id su %>">
  <p>
    <strong>Name:</strong>
    <%= su.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= su.surname %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= su.dni %>
  </p>

</div>
