<p style="color: green"><%= notice %></p>

<h1>Sus</h1>

<div id="sus">
  <% @sus.each do |su| %>
    <%= render su %>
    <p>
      <%= link_to "Show this su", su %>
    </p>
  <% end %>
</div>

<%= link_to "New su", new_su_path %>
