<h1>Editing parametro</h1>

<%= render "form", parametro: @parametro %>

<br>

<div>
  <%= link_to "Show this parametro", @parametro %> |
  <%= link_to "Back to parametros", parametros_path %>
</div>
