<h1>Editar cuenta</h1>

<% if !@user.su? %>
  <%= render "form", user: @user %>
<% else %>
  <%= render "formEditSupervisor", user: @user %>
<% end%>


<br>

<div>
  <%= link_to "Cancelar", user_path(@user) %>
</div>
