<head>
  <link rel="stylesheet" href="/app/assets/stylesheets/left_sidebar.css">
</head>

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar datos", edit_user_path(@user) %> 

  <%= button_to "Eliminar cuenta", @user, method: :delete %>

  <% render "application/left_sidebar" %>
</div>
