<!-- <head>
  <link rel="stylesheet" href="/app/assets/stylesheets/left_sidebar.css">
</head> -->

<p style="color: green"> <%= notice %> </p>
<p style="color: red"> <%= alert %> </p>

<div class="container-fluid">
  <h1>Información personal</h1>
  <%= render @user %>
</div>