<!-- <head>
  <link rel="stylesheet" href="/app/assets/stylesheets/left_sidebar.css">
</head> -->

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  
  <% if current_user.role == "su" or current_user.role == "admin" then %>

    <%= button_to "Volver a Conductores", users_drindex_path, class:"btn btn-outline-success" %>
  <% end %>

  <!-- <% render "application/left_sidebar" %> -->
</div>
