<!-- <head>
  <link rel="stylesheet" href="/app/assets/stylesheets/left_sidebar.css">
</head> -->

<p style="color: green"> <%= notice %> </p>
<p style="color: red"> <%= alert %> </p>

<div class="container-fluid">
  <h1>Información personal</h1>
  <%= render @user %>
  <% if current_user.role == "su" or current_user.role == "admin" then %>
    <%= button_to "Editar", edit_user_path(@user), class:"btn btn-outline-warning" %>  
  <% end %> 
</div>