<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% if user.role == "su" then %>
      <%= render user %>
    <p>
      <%= link_to "Detalles de este supervisor", user %>
    </p>
    <% end %>
  <% end %>
</div>

 <%= link_to "Agregar nuevo supervisor", new_user_path %>
