<h1>Editing validacion</h1>

<%= render "form", validacion: @validacion %>

<br>

<div>
  <%= link_to "Show this validacion", @validacion %> |
  <%= link_to "Back to validacions", validacions_path %>
</div>
