<h1>Editing mp webhook</h1>

<%= render "form", mp_webhook: @mp_webhook %>

<br>

<div>
  <%= link_to "Show this mp webhook", @mp_webhook %> |
  <%= link_to "Back to mp webhooks", mp_webhooks_path %>
</div>
