<h1>Editar vehículo</h1>

<%= render "form", car: @car %>

<br>

<div>
  <%= button_to "Volver a vehículos", cars_path , class:"btn btn-outline-success"%>
  <%= button_to "Ver detalle del vehículo", @car , class:"btn btn-outline-secondary"%>
  <%= link_to "Volver a vehículos", cars_path %>
</div>
