<h1>Editar vehículo</h1>

<%= render "form_edit", car: @car %>

<br>

<div class="btn-group" role="group" data-inline:"true">
  <%= button_to "Volver a vehículos", cars_path , class:"btn btn-outline-primary"%>
  <%= button_to "Volver al detalle", car_path , class:"btn btn-outline-secondary"%>
  
</div>
