<div class="container-fluid">
    <h1>Alquilapp</h1>
    <div id="map" style="height: 600px;"></div>

    <script>
        new Mapkick.Map("map", [{ latitude: -34.63531227666873, longitude:-58.3647656654727 }]);
    </script>
</div>