<div class="container-fluid">
    <h1>Alquilapp</h1>
    <div id="map" style="height: 600px;"></div>

    <script>
        var array = [];
        <% Car.all.each do | car | %> 
            var obj = {
            latitude: <%= car.ubication.x %>,
            longitude: <%= car.ubication.y %>,
            tooltip: "Marca: <%= car.marca %> Modelo: <%= car.modelo %> "
        }
        array.push(obj);
        <% end %>
            console.log(array);
        new Mapkick.Map("map", array, { zoom: 13 });
    </script>
</div>