<h1>Nuevo vehículo</h1>

<div class="container-fluid justify-content-center">
    <%= render "form", car: @car %>
</div>

<br>

<div>
<%= button_to "Volver a vehículos", cars_path , class:"btn btn-outline-success"%>
</div>
