<%= stylesheet_link_tag "navbar" %>
<div class="wrapper">
  <nav>
      <div class="principal">
      <%= link_to root_path do%>
          <i class='bx bxs-car bx-lg bx-tada-hover' style='color:#ffc24b'  ></i>
          <h2>Alquilapp</h2> 
      <% end %>
      </div>
    
    <ul>
    <li>
        <%= link_to new_user_session_path do %>
          Iniciar Sesión
        <% end %>
    </li>
      
    </ul>
  </nav>
</div>