<div class="wrapper">
  <nav>
    <%= link_to root_path do%>
    <h4>Home</h4>
  <% end %>
    
    <ul>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <%= link_to new_user_registration_path do%>
          <h4>Sign Up</h4>
        <% end %>
      </li>
    </ul>
  </nav>
</div>