<div class="wrapper">
  <nav>
    <a href="#" class="logo">AAA</a>
    <ul>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">Contacts</a>
      </li>
    </ul>
  </nav>
</div>