<h1>Editing estadistica</h1>

<%= render "form", estadistica: @estadistica %>

<br>

<div>
  <%= link_to "Show this estadistica", @estadistica %> |
  <%= link_to "Back to estadisticas", estadisticas_path %>
</div>
